name: Build, Push, and Deploy

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker image tag (default: latest)'
        required: false
        default: 'latest'
      seedvr2_ref:
        description: 'SeedVR2 version to use'
        required: false
        default: 'v2.5.23'

env:
  IMAGE_NAME: seedvr2-upscaler

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build-and-push:
    name: Build and Push Docker Image
    uses: ./.github/workflows/docker-build-push.yml
    with:
      dockerhub_username: ${{ vars.DOCKERHUB_USERNAME }}
      image_name: ${{ vars.UPSCALER_IMAGE_NAME }}
      tag: ${{ github.event.inputs.tag || 'latest' }}
      build_args: |
        SEEDVR2_REPO=${{ vars.SEEDVR2_REPO }}
        SEEDVR2_REF=${{ inputs.seedvr2_ref || vars.SEEDVR2_REF }}
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  
  create-update-runpod-template:
    name: Create/Update RunPod Template
    needs: build-and-push
    uses: ./.github/workflows/runpod-template.yml
    with:
      runpod_rest_api_base_url: ${{ vars.RUNPOD_REST_API_BASE_URL }}
      python_version: ${{ vars.PYTHON_VERSION }}
      full_image_name: ${{ needs.build-and-push.outputs.full_image_name }}
      template_name: 'seedvr2_upscaler'
      container_disk: 60
      env_vars: |
        LOG_LEVEL=DEBUG
    secrets:
      RUNPOD_API_KEY: ${{ secrets.RUNPOD_API_KEY }}
  
  create-update-endpoint:
    name: Create/Update RunPod Endpoint
    needs: create-update-runpod-template
    uses: ./.github/workflows/runpod-endpoint.yml
    with:
      environment: "dev"
      endpoint_name: 'seedvr2-upscaler-endpoint'
      execution_timeout_ms: 1800
      runpod_rest_api_base_url: ${{ vars.RUNPOD_REST_API_BASE_URL }}
      python_version: ${{ vars.PYTHON_VERSION }}
      template_id: ${{ needs.create-update-runpod-template.outputs.template_id }}
    secrets:
      RUNPOD_API_KEY: ${{ secrets.RUNPOD_API_KEY }}
